*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxy;
    font-family: sans-serif;
}

.hero{
    background-color: #eae7dc;
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo{
    margin: 25px 0;
    width: 125px;
    height: 50px;
}

nav{
    position: relative;
    z-index: 1;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 25px 0;  
}

nav ul li{
    list-style-type: none;
    margin: 10px 20px;
    display: inline-block;
}

nav ul li a{
    /* font-weight: 500; */
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e85a4f;
}

.text_section{
    margin-left: 8%;
    margin-top: 8%;
}

.text_section h1{
    font-size: 60px;
    color: #e85a4f;
    margin-bottom: 20px;
}

.text_section p{
    line-height: 25px;
    font-size: 1.2em;
    color: #8e8d8a;
}

button{
    background-color: #e85a4f;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 50px 0;
    font-size: 1.3em;
    color: #eae7dc;
}

.user_box{
    background-color: #ecb2ac;
    position: absolute;
    top: 0;
    right: 13%;
}

.user_box img{
    width: 410px;
    display: block;
    padding-top: 100px;
    margin-bottom: -205px;
    margin-left: -5.5px;
    margin-right: -5.5px;
}